.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.textViewBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.betweenHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 200px;
}

.lineContent {
  vertical-align: top;
  text-align: left;
}

table {
  max-width: 100%;
}

.textCompare {
  width: 95%;
  /* max-width: 100%; */
  border: 1px;
  background-color: white;
  /* line-height: normal; */
  margin-left: auto;
  margin-right: auto;
}

/* .textView {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
} */

.deleted {
  background: #ffb366;
}

.added {
  background: #00ffcc;
}

.inputText1 {
  height: 250px;
  /* border-style: solid;
  border-width: 1px; */
  margin-bottom: 0px;
  margin-right: 5px;
  padding-bottom: 30px;
  position: relative;
}

.inputText2 {
  height: 250px;
  /* border-style: solid;
  border-width: 1px; */
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 0px;
  padding-bottom: 30px;
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.welcome {
  display: flex;
  justify-content: center;
  padding: 50px;
}
