.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.betweenHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 200px;
}

.lineContent {
  vertical-align: top;
  text-align: left;
}

.deleted {
  background: #ffb366;
}

.added {
  background: #00ffcc;
}

.inputText1 {
  height: 250px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-bottom: 30px;
  position: relative;
}

.inputText2 {
  height: 250px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 0px;
  padding-bottom: 30px;
  position: relative;
}

table {
  max-width: 100%;
}

.textCompare {
  width: 95%;
  border: 1px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.textViewBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.welcome {
  display: flex;
  justify-content: center;
  padding: 50px;
}
