.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.betweenHeader {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.containerText {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.divFiller {
  height: 100px;
}

.deleted {
  background: #ffb366;
}

.added {
  background: #00ffcc;
}

.inputText1 {
  height: 250px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-bottom: 30px;
  position: relative;
}

.inputText2 {
  height: 250px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 0px;
  padding-bottom: 30px;
  position: relative;
}

.lineContent {
  vertical-align: top;
  text-align: left;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  max-width: 400px;
  width: 100%;
}

.textCompare {
  width: 100%;
  /* border: 1px; */
  background-color: white;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.textViewBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
}

.textView {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  display: flex;
  justify-content: center;
  padding: 50px;
}
